* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #f5d577c7;

  h1 {
    text-align: center;
    color: #1f535c;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

section {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  *background-color: blueviolet;

  main {
    display: flex;
    flex-direction: column;

    h2 {
      text-align: center;
      color: #1f535c;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    form {
      text-align: center;
    }

    h3 {
      color: #1f535c;
      text-align: center;
    }

    #containerNoLogin {
      margin-top: 3%;
      height: 330px;
      display: flex;
      flex-wrap: wrap;
      margin-left: 10%;
      margin-right: 10%;
      justify-content: center;

      .capital {
        *background-color: #cdcdcd;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        height: 20%;

        .name {
          text-align: center;
          text-decoration: none;
          color: #1f535c;
          background-color: #fce9a6;
          width: 200px;
          padding-top: 20px;
          padding-bottom: 20px;
          font-weight: bold;
        }

        a {
          background-color: #cdcdcd;
          text-decoration: none;
          text-align: center;
          justify-content: center;
          color: #1f535c;
          font-weight: bold;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-color: white;
          font-size: 14px;
          display: flex;
          align-items: center;
          width: 10%;

          &:hover {
            background: linear-gradient(#cdcdcd, white);
            padding-right: 5px;
            padding-left: 5px;
          }
        }
      }
    }
    #container {
      height: 330px;
      margin-top: 2%;

      .capital {
        margin-left: 160px;
        margin-right: 160px;
        display: flex;
        justify-content: space-around;
        font-size: 18px;

        .name {
          text-align: center;
          text-decoration: none;
          color: #1f535c;
          background-color: #fce9a6;
          width: 200px;
          padding-top: 20px;
          padding-bottom: 20px;
          font-weight: bold;
        }

        a {
          background-color: #cdcdcd;
          text-decoration: none;
          text-align: center;
          justify-content: center;
          color: #1f535c;
          font-weight: bold;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-color: white;
          font-size: 14px;
          display: flex;
          align-items: center;
          width: 10%;

          &:hover {
            background: linear-gradient(#cdcdcd, white);
            padding-right: 5px;
            padding-left: 5px;
          }
        }
      }
    }
  }
}

footer {
  position: fixed;
  text-align: center;
  background-color: #1f535c;
  color: #f5d577c7;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.myInput {
  height: 35px;
  width: 300px;
}

.myButton {
  cursor: pointer;
  background-color: #1f535c;
  color: white;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: white;

  &:hover {
    background: linear-gradient(#cdcdcd, white);
    color: #1f535c;
  }
}

#msg {
  text-align: center;
  color: white;
  background-color: #fe1900;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 4%;
}

#msgExistingWord {
  position: fixed;
  color: #fe1900;
  padding: 10px;
  top: 30%;
  right: 45%;
}

#msgLogin {
  position: fixed;
  color: #fe1900;
  padding: 10px;
  top: 55%;
  left: 40%;
}

#form-login {
  *background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-top: 3%;

  input {
    margin-top: 1%;
  }

  #buttons {
    margin-top: 1%;
  }
}

#auth {
  color: #1f535c;
  position: fixed;
  top: 1%;
  right: 2%;
  display: flex;
  flex-direction: column;

  #auth1 {
    display: flex;
    margin-bottom: 2%;

    #s1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 30px;
    }

    #img {
      font-size: 30px;
      margin-right: 5px;
    }

    #s2 {
      display: flex;
      flex-direction: row;

      a {
        text-decoration: none;
        color: #1f535c;
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
          font-size: 20px;
          padding-top: 4%;
        }
      }
    }
  }
}

#addLink {
  text-decoration: none;
  padding-left: 2%;
  padding-right: 2%;
}

#icon-logout {
  label {
    cursor: pointer;
  }
}

#s3 {
  position: fixed;
  top: 2%;
  left: 2%;
  display: flex;
  flex-direction: row;
  *padding-top: 5px;
  margin-left: 1%;
  
  a {
    text-decoration: none;
    color: #1f535c;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    span {
      cursor: pointer;
      font-size: 20px;
    }

    label{
    cursor: pointer;
    }
  }
}
